<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
 <add key= "EmailFrom" value= "BusinessAutomation@fcmb.com" />
 <add key= "DisplayName" value= "PEP List and BlackList" />
 <add key= "MailSubject" value= "MailSubject ope" />
 <add key= "EmailTo" value= "mipoolugbenga@gmail.com" />
 <add key= "SMTPURLLive" value= "http://172.27.12.123/UserManagerService/UserUtilityService.asmx" />
 <add key= "SMTPURLTest" value= "http://172.27.15.103/UserManagerServiceTest/UserUtilityService.asmx" />
  <add key= "EmailServer" value= "172.27.15.18" />
  <add key= "EmailRecepient" value= "kehinde.guvoeke@fcmb.com" />
  <add key= "EmailRecepientCC" value= "" />
  <add key= "EmailTitle" value= "PEP and Watchlisted Customers" />
</appSettings>
</configuration>